[Unit]
Description=PregChatBot
After=syslog.target

[Service]
ExecStart=/bin/sh -c 'cd /home/bot/envs/pregchatbot/ && /home/bot/envs/pregchatbot/bin/python /home/bot/envs/pregchatbot/pregchatbot/bot/bot.py 2>&1 > /home/bot/envs/pregchatbot/pregchatbot/bot/log.log' &
Restart=always
KillSignal=SIGINT
Type=notify
StandardError=syslog
NotifyAccess=all
TimeoutStartSec=5min

[Install]
WantedBy=multi-user.target
